<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd                 
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd                 
						http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
						http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd">

	<context:annotation-config />
	
	<context:component-scan base-package="org.pos.coffee.controller"
		use-default-filters="false">
		<context:include-filter expression="org.springframework.stereotype.Controller"
			type="annotation" />
	</context:component-scan>

	<context:component-scan base-package="org.pos.coffee">
		<context:exclude-filter expression="org.springframework.stereotype.Controller"
								type="annotation" />
	</context:component-scan>
	
	<mvc:annotation-driven>
		<mvc:message-converters>
			<bean class="org.pos.coffee.web.json.ScopeAwareJsonMessageConverter"
				  p:objectMapper-ref="objectMapper" />
		</mvc:message-converters>
	</mvc:annotation-driven>

	<bean id="objectMapper"
		  class="org.springframework.http.converter.json.Jackson2ObjectMapperFactoryBean"
		  p:simpleDateFormat="${date.format}">
	</bean>

	<mvc:resources location="/base/angular/" mapping="/angular/**" />
	<mvc:resources location="/WEB-INF/html/" mapping="/html/**" />
	<mvc:resources location="/app/css/,/base/css/" mapping="/css/**" />
	<mvc:resources location="/app/js/,/base/js/" mapping="/js/**" />
	<mvc:resources location="/app/img/,/base/img/" mapping="/img/**" />
	<mvc:resources location="/app/font/,/base/font/" mapping="/font/**" />

	<bean class="org.pos.coffee.web.json.JsonScopeSupportFactoryBean" />

	<bean
		class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter">
	</bean>
</beans>