body {
    overflow-y: hidden;
    overflow-x: hidden;
}

.icon-bar {
    height: 70vh;
    overflow: hidden;
    overflow-y:auto;
    margin: 0;
    padding: 0;
}

.icon-bar a {
    width:100px;
}

.icon-bar a label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.side-nav {
    /* Firefox */
    height: -moz-calc(100vh - 2.8125rem);
    /* WebKit */
    height: -webkit-calc(100vh - 2.8125rem);
    /* Opera */
    height: -o-calc(100vh - 2.8125rem);
    /* Standard */
    height: calc(100vh - 2.8125rem);
    float: left;
    margin: 0;
    padding: 0;
    border-right: solid 4px white;
}

.content {
    /* Firefox */
    height: -moz-calc(100vh - 2.8125rem);
    /* WebKit */
    height: -webkit-calc(100vh - 2.8125rem);
    /* Opera */
    height: -o-calc(100vh - 2.8125rem);
    /* Standard */
    height: calc(100vh - 2.8125rem);
    width: 60vw;
    float: left;
    display: block;
    overflow: hidden;
    overflow-y: auto;
    position: relative;
    margin: 0 auto;
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .content {
        width: 75vw;
        float: left;
        display: block;
        max-height: 95vh;
        overflow: hidden;
        overflow-y: auto;
        position: relative;
        margin: 0 2px 0 0;
    }
}

@media only screen and (min-width: 20.063em) and (max-width: 40.63em) {
    .content {
        width: 80vw;
        float: left;
        display: block;
        max-height: 95vh;
        overflow: hidden;
        overflow-y: auto;
        position: relative;
        margin: 0 2px 0 0;
    }
}

.cartBig {
    width: 25vw;
    display: block;
    max-height: 95vh;
    overflow: hidden;
    overflow-y: auto;
    position: relative;
    margin: 0 auto;
}

.cartSmall {
    max-height: 100vh;
    position: relative;
}

.cartSmall .cartSmall-icon {
    position: absolute;
    top: 5vh;
    right: 0;
    z-index: 1;
    background: #222;
    border-radius: 30px 0px 0px 30px;
    -moz-border-radius: 30px 0px 0px 30px;
    -webkit-border-radius: 30px 0px 0px 30px;
    padding: 5px 10px 5px 10px;
    transition: right 1s cubic-bezier(0.17, 0.04, 0.03, 0.94);
}

.cartSmall * {
    color: white;
}

.cartSmall .cartSmall-content {
    position: absolute;
    width: 70vw;
    right: -70vw;
    top: 5vh;
    max-height: 85vh;
    z-index: 1;
    background: #222;
    padding: 5px 10px 5px 10px;
    transition: right 1s cubic-bezier(0.17, 0.04, 0.03, 0.94);
    overflow: hidden;
    overflow-y: auto;
}

.cartSmall .cartSmall-content .orderSummary {
    max-height: 60vh;
    position: relative;
}

.cartSmall .cartSmall-content .orderSummary .items {
    padding: 10px;
    width: 100%;
    max-height: 40vh;
    overflow: hidden;
    overflow-y: auto;
    margin-bottom: 10vh;
    border: 1px solid;
}

.cartSmall .cartSmall-content .orderSummary .totalPrice {
    width: 100%;
    border: 1px solid;
    left: 0;
    margin-bottom: 0;
}

.cartSmall .cartSmall-content .orderSummary .items * {
    /*word-break: break-all;*/
}

.cartBig .orderSummary {
    max-height: 60vh;
    position: relative;
}

.cartBig .orderSummary .items {
    padding: 10px;
    width: 100%;
    height: 40vh;
    overflow: hidden;
    overflow-y: auto;
    border: 1px solid;
    margin-bottom: 10vh;
}

.cartBig .orderSummary .totalPrice {
    width: 100%;
    border: 1px solid;
    position: absolute;
    left: 0;
    bottom: -50px;
}

.cartBig .orderSummary .items * {
    /*word-break: break-all;*/
}

.contentHolder {
    position: relative;
}

.contentHolder * {
    text-align: center;
}

.contentList li {
    padding: 2px;
}

.contentImg {
    height:9rem;
    width:100%;
}

.addToCart {
    position: absolute;
    right: +5%;
    top: +5%;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.addOn *{
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#modifyOrder {
    position: absolute;
    top: +5vh;
}


.payment-page {
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
}

.receipt {
    overflow: hidden;
    overflow-y:auto;
    max-height: 80vh;
}

.payment {
    overflow: hidden;
    overflow-y:auto;
    max-height: 80vh;
}

.moneyBillList {
    margin-left: 15px;
    margin-right: 15px;
}

.added-item-location .row{
    padding-bottom: 0.5rem;
}

.empty {
    color:gray;
}

.critical {
    color:red;
}

.low {
    color:orange;
}

.good {
    color:green;
}

.critical-row {
    background-color:#ffcccc !important;
}

.low-row {
    background-color:#ffedcc !important;
}

.good-row {
    background-color:#cce5cc !important;
}

.payment-page .details {
    height: 80vh;
}

.payment-page .buttons {
    height: 20vh;
}

.base-location > li {
    display: inline-block;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

#add-ons {
    display: none;
    max-height: 25vh;
    overflow: hidden;
    overflow-y: auto;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 50px;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: grey;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: grey;
}