.bottomContainerContent {
    position: relative;
    height: 100%;
    background: whitesmoke;
    border: solid 5px white;
    margin: 2px 2px 2px 2px;
    padding: 20px;
    -webkit-box-shadow: inset 5px 5px 62px -30px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 5px 5px 62px -30px rgba(0,0,0,0.75);
    box-shadow: inset 5px 5px 62px -30px rgba(0,0,0,0.75);
}

@media only screen and (min-width: 20.063em) and (max-width: 40.63em) {
    .leftContainer {
        position: relative;
        background: whitesmoke;
        border: solid 5px white;
        margin: 2px 2px 2px 2px;
        padding: 20px;
        -webkit-box-shadow: inset 5px 5px 62px -30px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 5px 5px 62px -30px rgba(0,0,0,0.75);
        box-shadow: inset 5px 5px 62px -30px rgba(0,0,0,0.75);
    }

    .rightContainer {

    }
}

@media only screen and (min-width: 40.64em) {

    .leftContainer {
        position: relative;
        width: 30%;
        float: left;
        background: whitesmoke;
        border: solid 5px white;
        margin: 2px 2px 2px 2px;
        padding: 20px;
        -webkit-box-shadow: inset 5px 5px 62px -30px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 5px 5px 62px -30px rgba(0,0,0,0.75);
        box-shadow: inset 5px 5px 62px -30px rgba(0,0,0,0.75);
    }

    .rightContainer {
        width: 69%;
        float: left;
    }

}

.topContainer {
    padding: 20px;
    position: relative;
    width: 100%;
    background: whitesmoke;
    float: left;
    border: solid 5px white;
    margin: 2px 2px 2px 2px;
    -webkit-box-shadow: inset 5px 5px 62px -30px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 5px 5px 62px -30px rgba(0,0,0,0.75);
    box-shadow: inset 5px 5px 62px -30px rgba(0,0,0,0.75);
}

.bottomContainer {
    float: left;
    width: 100%;
}

.chartTitle{
    float: left;
    margin: 5px;
}

.snap-button-container {
    float: right;
    margin: 5px;
}

.emphasis, #today{
    font-family: Segoe, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    color: #008CBA;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #008CBA;
}
