
.login-logo {
    width: 90%;
    height: 90%;
    margin: auto;
}


#loginContainer {
    position: relative;
}

#login-background {
    position: fixed;
    width:100%;
    height:100%;
    background-image: url("../img/maestro.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.login-form{
    position: fixed;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
}

@media screen and (max-height: 500px) {
    .numpadNumber {
        display: none !important;
    }
}

@media screen and (max-height: 500px) {
    .numpadNumber {
        display: none !important;
    }
}

.numpadNumber {
    border: solid 1px white;
    float: left;
    text-align:center;
    background: #00887D;
    transition: all .03s ease-in-out;
    -webkit-transition: all .03s ease-in-out;
    opacity: 0.8;
}

.numpadNumber:active {
    transform: translateY(5px);
}

.numpadNumber:hover {
    background: #00756C;
    cursor: pointer;
}

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
    text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}

input {
    text-align: center;
}

