.maestroLogo {
    height: 30vh;
    width: 20vw;
    display:block;
    margin:auto;
}

#login {
    display: table;
    margin: 0 auto;
}

.numpadNumber {
    border: solid 1px white;
    float: left;
    text-align:center;
    background: #00887D;
    transition: all .03s ease-in-out;
    -webkit-transition: all .03s ease-in-out;
    border-radius: 1vh 1vh 1vh 1vh;
}

.numpadNumber:active {
    transform: translateY(5px);
}

.numpadNumber:hover {
    background: #00756C;
    cursor: pointer;
}

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
    text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}

input {
    text-align: center;
}

