<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="css/foundation.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/app.css"/>
    <link rel="stylesheet" href="css/font-awesome.css"/>
    <link rel="stylesheet" href="css/responsive-tables.css">
    <link rel="stylesheet" href="css/toastr.css"/>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script src="js/responsive-tables.js"></script>
    <script src="js/evey-1.0.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/selectize.min.js"></script>
    <script src="js/angular-selectize.js"></script>
    <script src="js/toastr.js"></script>
    <script src="angular/currentUserService.js"></script>
    <script src="angular/crudApp.js"></script>
    <script src="angular/crudController.js"></script>
    <script src="js/vendor/modernizr.js"></script>

</head>
<body ng-app="crudApp" ng-controller="crudController">
<div class="row">
    <div>
        <div class="off-canvas-wrap" data-offcanvas>
            <div class="inner-wrap">
                <nav class="tab-bar">
                    <section class="left-small">
                        <a class="left-off-canvas-toggle menu-icon"><span></span></a>
                    </section>
                    <section class="middle tab-bar-section">
                        <h1 class="title">Maestro Fedeli</h1>
                    </section>
                    <section class="right-small">
                        <a class="right-off-canvas-toggle menu-icon"><span></span></a>
                    </section>
                </nav>
                <aside class="right-off-canvas-menu">
                    <ul class="off-canvas-list">
                        <li><label>Logged In User</label></li>
                        <li>
                            <a href="/user/profile" class="canvas navigation">
                                <i class="navigation-icon fa fa-user" ng-if="loggedUser.person.personImageId == null"></i>
                                <img ng-if="loggedUser.person.personImageId != null" ng-src="file/viewImage/{{loggedUser.person.personImageId}}" alt="" class="navigation-icon user-image"/>
                                <i class="navigation-spinner hide fa fa-spinner fa-pulse fa-lg"></i>
                                &nbsp {{loggedUser.person.completeName}}</a>
                        </li>
                        <li><a href="/logout" class="canvas navigation"><i class="navigation-icon fa fa-sign-out"></i><i class="navigation-spinner hide fa fa-spinner fa-pulse fa-lg"></i> &nbsp Logout</a></li>
                    </ul>
                </aside>
                <aside class="left-off-canvas-menu">
                    <ul class="off-canvas-list">
                        <li><label>Coffee Shop POS</label></li>
                        <li ng-show="checkIfHasAccess('ACCESS_DASHBOARD_TAB')"><a data-url="/dashboard" id="dashboard-off" class="canvas navigation"><i class="navigation-icon fa fa-line-chart"></i><i class="navigation-spinner hide fa fa-spinner fa-pulse fa-lg"></i> &nbsp Dashboard</a></li>
                        <li ng-show="checkIfHasAccess('ACCESS_ORDER_TAB')"><a data-url="/order" id="order-off" class="canvas navigation"><i class="navigation-icon fa fa-shopping-cart"></i><i class="navigation-spinner hide fa fa-spinner fa-pulse fa-lg"></i> &nbsp Orders</a></li>
                        <li ng-show="checkIfHasAccess('ACCESS_SALE_TAB')"><a data-url="/sale" id="sale-off" class="canvas navigation"><i class="navigation-icon fa fa-briefcase"></i><i class="navigation-spinner hide fa fa-spinner fa-pulse fa-lg"></i> &nbsp Sales</a></li>
                        <li ng-show="checkIfHasAccess('ACCESS_INVENTORY_TAB')"><a data-url="/inventory" id="inventory-off" class="canvas navigation"><i class="navigation-icon fa fa-bar-chart"></i><i class="navigation-spinner hide fa fa-spinner fa-pulse fa-lg"></i> &nbsp Inventory</a></li>
                        <li ng-show="checkIfHasAccess('ACCESS_PURCHASE_TAB')"><a data-url="/purchase" id="purchase-off" class="canvas navigation"><i class="navigation-icon fa fa-money"></i><i class="navigation-spinner hide fa fa-spinner fa-pulse fa-lg"></i> &nbsp Purchase</a></li>
                        <li ng-show="checkIfHasAccess('ACCESS_REPORTS_TAB')"><a data-url="/report" id="report-off" class="canvas navigation"><i class="navigation-icon fa fa-pie-chart"></i><i class="navigation-spinner hide fa fa-spinner fa-pulse fa-lg"></i> &nbsp Reports</a></li>
                        <li class="has-submenu" ng-show="checkIfHasAccess('ACCESS_ADMIN_TAB')"><a href="#"><i class="fa fa-cogs"></i>&nbsp Administration</a>
                            <ul class="left-submenu">
                                <li class="back"><a href="#">Back</a></li>
                                <li><label>Administration Page</label></li>
                                <li class="has-submenu" ng-show="checkIfHasAccess('ACCESS_ACCOUNT_SETTING')"><a href="#"><i class="fa fa-users"></i>&nbsp Accounts</a>
                                    <ul class="left-submenu">
                                        <li class="back"><a href="#">Back</a></li>
                                        <li><label>Account Maintenance</label></li>
                                        <li ng-show="checkIfHasAccess('ACCESS_USER_PAGE')"><a data-url="/user" id="user-off" class="canvas navigation"><i class="navigation-spinner hide fa fa-spinner fa-pulse fa-lg"></i>&nbsp User Page</a></li>
                                        <li ng-show="checkIfHasAccess('ACCESS_USER_ROLE')"><a data-url="/userRole" id="user-role-off" class="canvas navigation"><i class="navigation-spinner hide fa fa-spinner fa-pulse fa-lg"></i>&nbsp User Role</a></li>
                                    </ul>
                                </li>
                                <li class="has-submenu" ng-show="checkIfHasAccess('ACCESS_SYSTEM_SETTING')"><a href="#"><i class="fa fa-cog"></i>&nbsp System Settings</a>
                                    <ul class="left-submenu">
                                        <li class="back"><a href="#">Back</a></li>
                                        <li><label>System Maintenance</label></li>
                                        <li ng-show="checkIfHasAccess('ACCESS_ITEM_PAGE')"><a data-url="/item" id="item-off" class="canvas navigation"><i class="navigation-spinner hide fa fa-spinner fa-pulse fa-lg"></i>&nbsp Item</a></li>
                                        <li ng-show="checkIfHasAccess('ACCESS_PRODUCT_PAGE')"><a data-url="/product" id="product-off" class="canvas navigation"><i class="navigation-spinner hide fa fa-spinner fa-pulse fa-lg"></i>&nbsp Product</a></li>
                                        <li ng-show="checkIfHasAccess('ACCESS_PRODUCT_GROUP_PAGE')"><a data-url="/productGroup" id="product-group-off" class="canvas navigation"><i class="navigation-spinner hide fa fa-spinner fa-pulse fa-lg"></i>&nbsp Product Group</a></li>
                                        <li ng-show="checkIfHasAccess('ACCESS_REFERENCE_PAGE')"><a data-url="/reference" id="reference-off" class="canvas navigation"><i class="navigation-spinner hide fa fa-spinner fa-pulse fa-lg"></i>&nbsp Reference</a></li>
                                        <li ng-show="checkIfHasAccess('ACCESS_BRANCH_PAGE')"><a data-url="/branch" id="branch-off" class="canvas navigation"><i class="navigation-spinner hide fa fa-spinner fa-pulse fa-lg"></i>&nbsp Branch</a></li>
                                        <li class="has-submenu" ng-show="checkIfHasAccess('ACCESS_PRICING_PAGE')"><a href="#">Pricing</a>
                                            <ul class="left-submenu">
                                                <li class="back"><a href="#">Back</a></li>
                                                <li><label>Price Maintenance</label></li>
                                                <li ng-show="checkIfHasAccess('ACCESS_PRICE_LIST_PAGE')"><a data-url="/price" class="canvas navigation"><i class="navigation-spinner hide fa fa-spinner fa-pulse fa-lg"></i>&nbsp Price List</a></li>
                                                <li ng-show="checkIfHasAccess('ACCESS_PRICE_SET_PAGE')"><a data-url="/priceSet" class="canvas navigation"><i class="navigation-spinner hide fa fa-spinner fa-pulse fa-lg"></i>&nbsp Price Set</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a data-url="/about" class="canvas navigation"><i class="fa fa-code"></i><i class="navigation-spinner hide fa fa-spinner fa-pulse fa-lg"></i>&nbsp Propeller</a></li>
                            </ul>
                        </li>
                    </ul>
                </aside>
                <section class="main-section main-body" ng-show="checkIfHasAccess('ACCESS_BRANCH_PAGE')">
                    <div class="row main-section-row" id="crud-body">
                        <div class="row main-section-row">
                            <div class="small-12 text-align-center">
                                <h4>Branch</h4>
                            </div>
                        </div>
                        <div class="small-4 large-3  columns search-panel" id="crud-search" >
                            <div class="row">
                                <div class="small-12 columns bar">
                                    <h4><i class="fa fa-search"></i>&nbsp Search</h4>
                                </div>
                            </div>
                            <div class="row">
                                <form>
                                    <div class="small-12 columns">
                                        <label>Branch
                                            <select name="category" id="category" ng-init="loadDropDown('/reference/getReferenceLookUpByCategory/CATEGORY_BRANCH')">
                                                <option></option>
                                                <option  ng-repeat="value in dropdown" value="{{value.id}}">{{value.value}}</option>
                                            </select>
                                        </label>
                                        <div class="switch round">
                                            <p>Active</p>
                                            <input id="isActive" type="checkbox" name="isActive" checked>
                                            <label for="isActive">
                                                <span class="switch-on">YES</span>
                                                <span class="switch-off">NO</span>
                                            </label>
                                        </div>
                                        <div class="rows">
                                            <a href="#" class="button expand" id="search-search-crud-btn" ng-click="test()">Search</a>
                                            <a href="#" class="button secondary expand" id="search-clr-crud-btn">Clear</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="small-8 large-9 columns crud-result">
                            <div class="rows">
                                <span> <small>Displaying {{startIndex}} to {{maxItem}} of {{listSize}} records.</small></span>
                                <a href="#" class="button right success small" data-reveal-id="crud-modal" ng-show="checkIfHasAccess('ADD_BRANCH')"><i class="fa fa-plus-circle"></i> &nbsp Add</a>
                            </div>
                            <div class="rows">
                                <div class="small-12 columns">
                                    <table class="responsive max-width" id="crud-table" data-url="/branch/findAll">
                                        <thead>
                                        <tr>
                                            <th>Branch Name</th>
                                            <th style="width:10%"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="record in records">
                                            <td>{{record.branch.value}}</td>
                                            <td>
                                                <i class="fa fa-pencil has-tip tip-top radius edit-action" ng-show="checkIfHasAccess('UPDATE_BRANCH')"  ng-click = "editAction(record.id)" ng-class="id" data-tooltip aria-haspopup="true" title="Edit" data-id="{{record.id}}" data-reveal-id="update-modal"></i>
                                                <i class="fa fa-trash has-tip tip-top radius delete-action" ng-show="checkIfHasAccess('DELETE_BRANCH')"  data-tooltip aria-haspopup="true" title="Delete" data-id="{{record.id}}" data-reveal-id="delete-modal"></i>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="clearfix"/>
                            <div class="rows">
                                <div class="pagination-centered">
                                    <ul class="pagination" role="menubar" aria-label="Pagination">
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="crud-modal" class="reveal-modal crud-modal" data-reveal aria-labelledby="crud-title" aria-hidden="true" role="dialog">
                        <h3 id="crud-title">Add New Branch.</h3>
                        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
                        <form data-abide="ajax" id="crud-form">
                            <div class="row">
                                <div class="small-12 columns">
                                    <div class="row collapse prefix-radius">
                                        <select name="branch.id" data-list="false">
                                            <option></option>
                                            <option  ng-repeat="value in dropdown" value="{{value.id}}">{{value.value}}</option>
                                        </select>
                                    </div>
                                    <div class="added-mac-location list" name="macAddresses">

                                    </div>
                                    <div class="mac-location">

                                    </div>
                                    <div class="row">
                                        <a class="get-mac"><i class="fa fa-key fa-2x"></i></a>
                                    </div>
                                    <div class="row">
                                        <a aria-label="Add" class="add-mac"><i class="fa fa-plus-circle"></i> Add Mac Address</a>
                                    </div>
                                    <div class="switch round">
                                        <p>Active</p>
                                        <input id="active" type="checkbox" name="isActive" checked>
                                        <label for="active">
                                            <span class="switch-on">YES</span>
                                            <span class="switch-off">NO</span>
                                        </label>
                                    </div>
                                    <div class="rows">
                                        <button type="submit" class="button expand success" id="form-add-btn"><i class="loader hide fa fa-spinner fa-pulse fa-lg"></i><span class="btn-label">Add</span></button>
                                        <a href="#" class="button secondary expand" id="form-clr-btn">Clear</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="update-modal" class="reveal-modal crud-modal" data-reveal aria-labelledby="update-title" aria-hidden="true" role="dialog">
                        <h3 id="update-title">Update Branch.</h3>
                        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
                        <form data-abide="ajax" id="update-form">
                            <div class="row">
                                <div class="small-12 columns">
                                    <div class="row">
                                        <input type="hidden" value="{{recordFound.id}}" name="id">
                                    </div>
                                    <div class="row collapse prefix-radius">
                                        <label>Category
                                            <select id="update-branch" ng-model="recordFound.branch" name="branch.id"  data-list="false">
                                                <option></option>
                                                <option  ng-repeat="value in dropdown" value="{{value.id}}">{{value.value}}</option>
                                            </select>
                                        </label>
                                        <small class="error">Category is required.</small>
                                    </div>
                                    <div class="added-mac-location">
                                        <div class="row" ng-repeat="mac in recordFound.macAddresses">
                                            <div class="columns small-10">
                                                <span class="added-mac">{{mac}}</span>
                                            </div>
                                            <div class="columns small-2">
                                                <a aria-label="Remove" class="remove-added-mac"><i class="fa fa-times"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mac-location">

                                    </div>
                                    <div class="row">
                                        <a aria-label="Add" class="add-mac"><i class="fa fa-plus-circle"></i> Add Mac Address</a>
                                    </div>
                                    <div class="switch round">
                                        <p>Active</p>
                                        <input id="activeUpdate" type="checkbox" name="isActive" ng-model="recordFound.isActive">
                                        <label for="activeUpdate">
                                            <span class="switch-on">YES</span>
                                            <span class="switch-off">NO</span>
                                        </label>
                                    </div>
                                    <div class="rows">
                                        <button type="submit" class="button expand success" id="form-update-btn"><i class="loader hide fa fa-spinner fa-pulse fa-lg"></i><span class="btn-label">Update</span></button>
                                        <a href="#" class="button secondary expand" id="update-clr-btn">Clear</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="delete-modal" class="reveal-modal crud-modal center-modal" data-reveal aria-labelledby="delete-title" aria-hidden="true" role="dialog">
                        <h3 id="delete-title">Are you sure you want to delete?</h3>
                        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
                        <button class="button alert remove-record"><i class="loader hide fa fa-spinner fa-pulse fa-lg"></i><span class="delete-btn">Remove</span></button>
                        <button class="button secondary float-right">Cancel</button>
                    </div>
                </section>
                <a class="exit-off-canvas"></a>
            </div>
        </div>
    </div>
</div>
</body>
<footer>

    <script type="text/html" id="mac-address-template">
        <div class="row">
            <div class="columns small-10">
                <input type="text" class="mac-address">
            </div>
            <div class="columns small-2">
                <a class="add-mac-address"><i class="fa fa-plus"></i></a>
            </div>
        </div>
    </script>

    <script type="text/html" id="added-mac-address-template">
        <div class="row">
            <div class="columns small-10">
                <span class="added-mac list-item"></span>
            </div>
            <div class="columns small-2">
                <a aria-label="Remove" class="remove-added-mac"><i class="fa fa-times"></i></a>
            </div>
        </div>
    </script>

    <script>
        $(document).foundation();
        $(document).EVEYfy();

        $(document).ready(function(){
        }).on("click", ".add-mac", function(){
            var macAddressLocation = $(".mac-location");
            var macAddressTemplate = $("#mac-address-template").html();

            $(macAddressLocation).append($(macAddressTemplate));
        }).on("click", ".add-mac-address", function(){

            var row = $(this).parent().parent();

            var macAddressLocation = $(".added-mac-location");
            var macAddressTemplate = $("#added-mac-address-template").html();

            $(macAddressLocation).append($(macAddressTemplate));
            $(macAddressLocation).find(".added-mac").last().text($(row).find(".mac-address").val());

            $(row).remove();
        }).on("click",".remove-added-mac", function(){
            var row = $(this).parent().parent();
            $(row).remove();
        }).on("click",".get-mac", function(){
            var key = $(this);
            $.ajax({
                url: evey.getHome()+"/login/get-mac-address",
                type: "GET",
                dataType: "JSON",
                success: function(data){
                    var input = $(key).parent().parent().find(".mac-location .mac-address").last();
                    $(input).val(data);
                }
            });
        });
    </script>
</footer>
</html>
