<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="css/foundation.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/app.css"/>
    <link rel="stylesheet" href="css/font-awesome.css"/>
    <link rel="stylesheet" href="css/responsive-tables.css">
</head>
<body ng-app="orderApp" ng-controller="orderController">
<div class="row height-full">
        <div class="off-canvas-wrap sticky height-full" data-offcanvas>
            <div class="inner-wrap height-full">
                <nav class="tab-bar">
                    <section class="left-small">
                        <a class="left-off-canvas-toggle menu-icon"><span></span></a>
                    </section>
                    <section class="middle tab-bar-section">
                        <h1 class="title">Maestro Fedeli</h1>
                    </section>
                    <section class="right-small">
                        <a class="right-off-canvas-toggle menu-icon"><span></span></a>
                    </section>
                </nav>
                <aside class="right-off-canvas-menu">
                    <ul class="off-canvas-list">
                        <li><label>Logged In User</label></li>
                        <li><a href="/user/profile" class="canvas"><i class="fa fa-user"></i> &nbsp &nbsp User Profile</a></li>
                        <li><a href="/user/logout" class="canvas"><i class="fa fa-sign-out"></i> &nbsp &nbsp Logout</a></li>
                    </ul>
                </aside>
                <aside class="left-off-canvas-menu">
                    <ul class="off-canvas-list">
                        <li><label>Coffee Shop POS</label></li>
                        <li><a href="/dashboard" id="dashboard-off" class="canvas"><i class="fa fa-line-chart"></i> &nbsp &nbsp Dashboard</a></li>
                        <li><a href="/order" id="order-off" class="canvas"><i class="fa fa-shopping-cart"></i> &nbsp &nbsp Orders</a></li>
                        <li><a href="/inventory" id="inventory-off" class="canvas"><i class="fa fa-bar-chart"></i> &nbsp &nbsp Inventory</a></li>
                        <li><a href="/purchase" id="purchase-off" class="canvas"><i class="fa fa-money"></i> &nbsp &nbsp Purchase</a></li>
                        <li><a href="/report" id="report-off" class="canvas"><i class="fa fa-pie-chart"></i>&nbsp &nbsp Reports</a></li>
                        <li class="has-submenu"><a href="#"><i class="fa fa-cogs"></i> &nbsp &nbsp Administration</a>
                            <ul class="left-submenu">
                                <li class="back"><a href="#">Back</a></li>
                                <li><label>Administration Page</label></li>
                                <li class="has-submenu"><a href="#"><i class="fa fa-users"></i>&nbsp &nbsp Accounts</a>
                                    <ul class="left-submenu">
                                        <li class="back"><a href="#">Back</a></li>
                                        <li><label>Account Maintenance</label></li>
                                        <li><a href="/person" id="person-off" class="canvas">People Maintenance</a></li>
                                        <li><a href="/user" id="user-off" class="canvas">User Page</a></li>
                                        <li><a href="/customer" id="customer-off" class="canvas">Customer</a></li>
                                        <li><a href="/supplier" id="supplier-off" class="canvas">Supplier</a></li>
                                        <li><a href="/address" id="address-off" class="canvas">Address</a></li>
                                    </ul>
                                </li>
                                <li class="has-submenu"><a href="#"><i class="fa fa-cog"></i>&nbsp &nbsp System Settings</a>
                                    <ul class="left-submenu">
                                        <li class="back"><a href="#">Back</a></li>
                                        <li><label>System Maintenance</label></li>
                                        <li><a href="/item" id="item-off" class="canvas">Item</a></li>
                                        <li><a href="/product" id="product-off" class="canvas">Product</a></li>
                                        <li><a href="/productGroup" id="product-group-off" class="canvas">Product Group</a></li>
                                        <li><a href="/meal" id="meal-off" class="canvas">Meal</a></li>
                                        <li><a href="/reference" id="reference-off" class="canvas">Reference</a></li>
                                        <li class="has-submenu"><a href="#">Pricing</a>
                                            <ul class="left-submenu">
                                                <li class="back"><a href="#">Back</a></li>
                                                <li><label>Price Maintenance</label></li>
                                                <li><a href="/price" class="canvas">Price List</a></li>
                                                <li><a href="/priceSet" class="canvas">Price Set</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </aside>
                <section class="main-section height-full">
                    <div class="order-page height-full">
                        <div class="side-nav">
                            <div class="icon-bar vertical five-up height-full margin-top-side max-height-none" ng-init="loadSideNav('/productGroup/getProductGroups')">
                                <a class="item group" ng-repeat="group in sideNav" ng-class="{active:$first}" data-id="{{group.id}}">
                                    <img ng-if="group.groupImageId == null" src="img/hot51.png" alt=""/>
                                    <img ng-if="group.groupImageId != null" ng-src="file/viewImage/{{group.groupImageId}}" alt=""/>
                                    <label class="show-for-medium-up">{{group.productGroupName}}</label>
                                </a>
                            </div>
                        </div>
                        <div class="content">
                            <ul class="contentList small-block-grid-1 medium-block-grid-3 large-block-grid-3">
                                <li ng-repeat="product in productFound">
                                    <div class="contentHolder product" data-id="{{product.id}}">
                                        <img ng-if="product.productImageId == null" src="img/caffe_latte.jpg" alt="" class="contentImg"/>
                                        <img ng-if="product.productImageId != null" ng-src="file/viewImage/{{product.productImageId}}" alt="" class="contentImg"/>
                                        <h5>{{product.productName}}</h5>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="cartBig show-for-large-up" ng-init="setOrderedCount()">
                            <h5 class="left">Order Summary</h5>
                            <h5 class="right">({{orderedCount}})</h5>
                            <div class="orderSummary">
                                <div class="items">
                                    <div class="row">
                                        <div class="columns small-6">
                                            <h5>Items</h5>
                                        </div>
                                        <div class="columns small-4">
                                            <h5>Qty * Price</h5>
                                        </div>
                                        <div class="columns small-2">

                                        </div>
                                    </div>
                                    <div class="order-holder">
                                    </div>
                                </div>
                                <div class="totalPrice">
                                    <div class="row">
                                        <div class="small-6 columns">
                                            <div class="row">
                                                <div class="columns">
                                                    Total
                                                </div>
                                            </div>
                                        </div>
                                        <div class="small-6 columns">
                                            <div class="row">
                                                <div class="columns">
                                                    <span class="total-price"></span>php
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="button expand continue">Continue</a>
                        </div>
                        <div id="cartSmall-container">
                            <div class="cartSmall-icon show-for-medium-down">
                                <i class="fa fa-shopping-cart fa-2x"></i>
                            </div>
                            <div class="cartSmall-content show-for-medium-down">
                                <h5 class="left">Order Summary</h5>
                                <h5 class="right">({{orderedCount}})</h5>
                                <div class="orderSummary">
                                    <div class="items">
                                        <div class="row">
                                            <div class="columns small-6">
                                                <h5>Items</h5>
                                            </div>
                                            <div class="columns small-4">
                                                <h5>Qty * Price</h5>
                                            </div>
                                            <div class="columns small-2">

                                            </div>
                                        </div>
                                        <div class="order-holder">
                                        </div>
                                    </div>
                                    <div class="totalPrice">
                                        <div class="row">
                                            <div class="small-6 columns">
                                                <div class="row">
                                                    <div class="columns">
                                                        Total
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="small-6 columns">
                                                <div class="row">
                                                    <div class="columns">
                                                        <span class="total-price"></span>php
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a class="button expand continue">Continue</a>
                            </div>
                        </div>
                    </div>
                    <div class="payment-page hide">
                        <h4 class="center">Order Summary</h4>
                        <div class="row details">
                            <div class="large-6 medium-5 small-5 columns receipt" id="receipt">
                                <div class="row">
                                    <div class="small-12 columns">
                                        <div class="panel-flat">
                                            <div class="row">
                                                <div class="column small-12 center">
                                                    <h3>Maestro Fedeli</h3>
                                                    <p id="saleCode"></p>
                                                    <p id="branch">Binan, Laguna; insert date and time here</p>
                                                </div>
                                            </div>
                                            <div class="row header">
                                                <div class="columns small-2">
                                                    <h4 class="center">Quantity</h4>
                                                </div>
                                                <div class="columns small-4">
                                                    <h4 class="center">Product Name</h4>
                                                </div>
                                                <div class="columns small-3">
                                                    <h4 class="center">Price</h4>
                                                </div>
                                                <div class="columns small-3">
                                                    <h4 class="center">Total</h4>
                                                </div>
                                            </div>
                                            <div class="cart-holder">
                                            </div>
                                            <div class="row">
                                                <div class="columns small-12"><h4 class="total-sale center"></h4></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="large-6 medium-7 small-7 columns payment">
                                <div class="row">
                                    <div class="small-4 columns">
                                        <h4>Total Balance:</h4>
                                    </div>
                                    <div class="small-8 columns">
                                        <h4 class="right">PHP 0</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-4 columns">
                                        <h4>Tax</h4>
                                    </div>
                                    <div class="small-8 columns">
                                        <h4 class="right">PHP 0</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-4 columns">
                                        <h4>Payment:</h4>
                                    </div>
                                    <div class="small-8 columns">
                                        <h4 class="right">Cash</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-4 columns">
                                        <h4>Discount:</h4>
                                    </div>
                                    <div class="small-8 columns">
                                        <h4 class="right"><a href="#" class="button expand">Apply Discount</a></h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="large-12 columns">
                                        <div class="row collapse">
                                            <div class="small-10 columns">
                                                <input type="text" placeholder="0">
                                            </div>
                                            <div class="small-2 columns">
                                                <a href="#" class="button postfix">PHP</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-4 columns">
                                        <h4>Change Due:</h4>
                                    </div>
                                    <div class="small-8 columns">
                                        <h4 class="right">PHP 0</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <ul class="small-block-grid-3 medium-block-grid-3 large-block-grid-3 moneyBillList">
                                        <li>
                                            <img src="img/P20new.jpg" alt=""/>
                                        </li>
                                        <li>
                                            <img src="img/P50new.jpg" alt=""/>
                                        </li>
                                        <li>
                                            <img src="img/P100new.jpg" alt=""/>
                                        </li>
                                        <li>
                                            <img src="img/P200new.jpg" alt=""/>
                                        </li>
                                        <li>
                                            <img src="img/P500new.jpg" alt=""/>
                                        </li>
                                        <li>
                                            <img src="img/P1000new.jpg" alt=""/>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-6 columns">
                                <a class="button left back-to-order"><< Back</a>
                            </div>
                            <div class="small-6 columns">
                                <a class="button right" id="confirm-order">Punch Order >></a>
                            </div>
                        </div>
                    </div>
                </section>
                <a class="exit-off-canvas"></a>
            </div>
            <!--<div id="display-modal" data-alert class="alert-box success radius display-message hide">
                <span class="message"></span>
                <a href="#" class="close">&#215;</a>
            </div>-->
        </div>
</div>
<div id="modifyOrder" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog" data-pid="{{selectedProduct.id}}" data-pname="{{selectedProduct.productName}}">

    <div class="row">
        <div class="columns small-6">
            <h2 id="modalTitle">{{selectedProduct.productName}} (<span id="modify-quantity">1</span>) </h2>
        </div>
        <div class="columns small-6">
            <h2 class="price right" ng-if="sizeSelection"></h2>
            <h2 class="price right" ng-if="!sizeSelection" data-list-id="{{selectedProduct.price.id}}" data-price="{{selectedProduct.price.price}}">{{selectedProduct.price.price}}php</h2>
        </div>
    </div>

    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    <div class="row">
        <div class="small-4 columns">
            <h4>Base:</h4>
        </div>
        <div class="small-8 columns">
            <div class="right">
                    <input type="radio" name="pokemon" value="Red" id="Soy"><label for="Soy"> <h4>Soy</h4></label>
                    <input type="radio" name="pokemon" value="Red" id="Whole_Milk"><label for="Whole_Milk"> <h4>Whole Milk</h4></label>
                    <input type="radio" name="pokemon" value="Red" id="Non_Fat"><label for="Non_Fat"> <h4>Non-fat</h4></label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="small-4 columns">
            <h4>Quantity:</h4>
        </div>
        <div class="small-8 columns">
            <div class="right">
                <ul class="button-group expand">
                    <li><button class="button big max-width modify-quan-btn disabled dec" data-action="dec"><i class="fa fa-minus"></i></button></li>
                    <li><button class="button big max-width modify-quan-btn" data-action="inc"><i class="fa fa-plus"></i></button></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="columns small-4">
            <h4>Size:</h4>
        </div>
        <div class="columns small-8">
            <div class="right">
                <ul class="button-group toggle" data-toggle="buttons-radio">
                    <li ng-repeat="product in selectedProduct.productUnder">
                        <input type="radio" id="{{product.id}}" name="size-group" data-list-id="{{product.price.id}}" data-price="{{product.price.price}}" data-toggle="button">
                        <label class="button" for="{{product.id}}">{{product.size.value}}</label>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <h4>Add-ons:</h4>
        </div>
    </div>
    <div class="row">
        <ul class="addOnList small-block-grid-2 medium-block-grid-4 large-block-5">
            <li ng-repeat="productAddOn in productAddOn">
                <div class="addOn panel-flat sizes" data-id={{productAddOn.id}}>
                    <div class="row">
                        <div class="small-6 columns">
                            <p>{{productAddOn.productName}}</p>
                        </div>
                        <div class="small-6 columns">
                            <p><span id="modify-addon-quantity_{{productAddOn.id}}">0</span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="center">
                            <ul class="button-group">
                                <li><button class="button small max-width modify-addon-quan-btn {{productAddOn.id}} disabled dec" data-action="dec"><i class="fa fa-minus"></i></button></li>
                                <li><button class="button small max-width modify-addon-quan-btn {{productAddOn.id}}" data-action="inc"><i class="fa fa-plus"></i></button></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="row">
        <div class="small-6 columns">
            <a href="#" class="button left">Reset Default</a>
        </div>
        <div class="small-6 columns">
            <a class="button right" id="add-to-cart">Add to Cart</a>
        </div>
    </div>
</div>
</body>
<footer>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script src="js/evey-1.0.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/vendor/modernizr.js"></script>
    <script src="angular/orderApp.js"></script>
    <script src="angular/orderController.js"></script>

    <script type="text/html" id="cart-template">
        <div class="row added margin-bottom-half-rem">
            <div class="columns small-6">
                <div class="row">
                    <div class="columns product-name"></div>
                </div>
                <div class="row">
                    <div class="columns size-name"></div>
                </div>
            </div>
            <div class="columns small-4">
                <div class="row">
                    <div class="columns quantity-price"></div>
                </div>
                <div class="row">
                    <div class="columns subtotal"></div>
                </div>
            </div>
            <div class="columns small-2">
                <a><i class="fa fa-minus-circle remove-cart"></i></a>
            </div>
        </div>
    </script>

    <script type="text/html" id="payment-product-cart">
        <div class="row items">
            <div class="columns small-12">
                <div class="row">
                    <div class="columns small-2">
                        <div class="quantity center"></div>
                    </div>
                    <div class="columns small-4">
                        <div class="product-name center"></div>
                    </div>
                    <div class="columns small-3">
                        <div class="price center"></div>
                    </div>
                    <div class="columns small-3">
                        <div class="total center"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns price-set"></div>
                </div>
                <div class="row">
                    <div class="small-12 columns gross-line"></div>
                </div>
            </div>
        </div>
    </script>
    <script type="text/html" id="payment-price-set">
        <div class="row set">
            <div class="columns small-6">
                <div class="price-set-name"></div>
            </div>
            <div class="columns small-6">
                <div class="effect"></div>
            </div>
        </div>
    </script>
    <script type="text/html" id="payment-gross">
        <div class="row gross">
            <div class="columns small-6">
                <div>Subtotal</div>
            </div>
            <div class="columns small-6">
                <div class="gross-total"></div>
            </div>
        </div>
    </script>

    <script>
        $(document).foundation();
        $(document).EVEYfy();

        $(document).ready(function(){
            //toggle minicart
            $(".cartSmall-icon").on("click",function(){
                var displayed =  $('.cartSmall-icon').css("right");

                if(displayed == '0px') {
                    $('.cartSmall-icon').css("right", "+70vw" );
                    $('.cartSmall-content').css("right", "+1vw" );
                } else {
                    $('.cartSmall-icon').css("right", "0vw" );
                    $('.cartSmall-content').css("right", "-70vw" );
                }
            });

            //restore to minicart default position if window is resized
            $(window).resize(function() {
                $('.cartSmall-icon').css("right", "0vw" );
                $('.cartSmall-content').css("right", "-70vw" );
            });

        }).on("click",".group", function(){
            $(".group").removeClass("active");
            $(this).addClass("active");

            angular.element("body").scope().changeGroup($(this).data("id"));
            angular.element("body").scope().$apply();

        }).on("click",".product", function(){
            angular.element("body").scope().selectProduct($(this).attr("data-id"));
            angular.element("body").scope().$apply();

            $("#modify-quantity").text("1");
            $('#modifyOrder').foundation('reveal', 'open');

        }).on("click",".modify-quan-btn",function(){
            if($(this).data("action")=="dec"){
                if(Number($("#modify-quantity").text())<=1){
                    $(this).attr("disabled");
                    $(this).addClass("disabled");
                } else {
                    $("#modify-quantity").text(Number($("#modify-quantity").text())-1);
                    if(Number($("#modify-quantity").text())<=1){
                        $(this).attr("disabled");
                        $(this).addClass("disabled");
                    }
                }

            } else if($(this).data("action") == "inc"){
                if(Number($("#modify-quantity").text())+1>1){
                    $(".modify-quan-btn.dec").removeAttr("disabled");
                    $(".modify-quan-btn.dec").removeClass("disabled");
                }
                $("#modify-quantity").text(Number($("#modify-quantity").text())+1);
            }
        }).on("click",".modify-addon-quan-btn",function(){

            var addOnId = $(this).attr("class").match(/\d+/);

            if($(this).data("action")=="dec"){
                if(Number($("#modify-addon-quantity_" + addOnId).text())<=0){
                    $(this).attr("disabled");
                    $(this).addClass("disabled");
                } else {
                    $("#modify-addon-quantity_" + addOnId).text(Number($("#modify-addon-quantity_" + addOnId).text())-1);
                    if(Number($("#modify-addon-quantity_" + addOnId).text())<=0){
                        $(this).attr("disabled");
                        $(this).addClass("disabled");
                    }
                }

            } else if($(this).data("action") == "inc"){
                if(Number($("#modify-addon-quantity_" + addOnId).text())+1>1){
                    $("#modify-addon-quantity_" + addOnId).removeAttr("disabled");
                    $("#modify-addon-quantity_" + addOnId).removeClass("disabled");
                }
                $("#modify-addon-quantity_" + addOnId).text(Number($("#modify-addon-quantity_" + addOnId).text())+1);
            }
        }).on("click", "#add-to-cart", function(){
            var productId = null;
            var price = null;
            var sizeName = null;


            var scope = angular.element("body").scope();
            if(scope.sizeSelection) {
                var selected = $("#modifyOrder input[name=size-group]:checked");
                productId = $(selected).attr("id");
                sizeName = $(selected).parent().find("label").text();
            } else {
                productId = $("#modifyOrder").attr("data-pid");
                price = Number($('#modifyOrder .price').attr("data-price"));
            }

            angular.element("body").scope().retrieveProduct(productId);
            angular.element("body").scope().$apply();
            console.log(scope.addToCart);


            var productName = $("#modifyOrder").attr("data-pname");
            var quantity = Number($("#modifyOrder #modify-quantity").text());
            price = Number($('#modifyOrder .price').attr("data-price"));
            var listId = $("#modifyOrder .price").attr("data-list-id");


            var template = $("#cart-template").html();
            $(".order-holder").prepend($(template));
            var addedTemplate = $(".order-holder").find("div.added:first-child");
            $(addedTemplate).attr("data-id", productId);
            $(addedTemplate).attr("data-product",JSON.stringify(scope.addToCart));
            $(addedTemplate).find(".product-name").text(productName);
            $(addedTemplate).find(".size-name").text(sizeName);

            var classQuantityPrice = $(addedTemplate).find(".quantity-price");
            $(classQuantityPrice).text(quantity +" x "+price+"php");
            $(classQuantityPrice).attr("data-list-id",listId);
            $(classQuantityPrice).attr("data-quantity",quantity);
            $(classQuantityPrice).attr("data-price",price);
            var subtotal = (Number(quantity)*price);
            $(addedTemplate).attr("data-subtotal", subtotal);
            $(addedTemplate).find(".subtotal").text(subtotal+"php");


            var totalPrice = Number($(".cartBig .total-price").text());
            totalPrice += subtotal;

            var classTotalPrice = $(".total-price");
            $(classTotalPrice).text(totalPrice);
            $(classTotalPrice).attr("data-total",totalPrice);

            countQty();

            $('#modifyOrder').foundation('reveal', 'close');

        }).on("click","#modifyOrder input[name=size-group]",function(){
            if($(this).is(":checked")){

                var price = $(this).attr("data-price");
                var priceClass = $("#modifyOrder .price");
                $(priceClass).attr("data-list-id", $(this).attr("data-list-id"));
                $(priceClass).attr("data-price",Number(price));
                $(priceClass).text(Number(price)+"php");
                $(priceClass).removeClass("hide");
            }
        }).on("click", ".remove-cart", function(){
            var addedRow = $(this).parents(".added");
            var subtotal = Number($(addedRow).attr("data-subtotal"));
            var index = $(addedRow).index()+1;


            var totalHolder = $(".totalPrice .total-price");
            var total = Number($(totalHolder).attr("data-total")) - subtotal;
            $(totalHolder).attr("data-total",total);
            $(totalHolder).text(total);

            $(".order-holder div.added:nth-child("+index+")").remove();

            countQty();

        }).on("click", ".continue",function(){
            var detail = getCartDetail();
            $.ajax({
                url: evey.getHome()+"/order/getPriceSet",
                data: JSON.stringify(detail.orderHelper),
                type: "POST",
                dataType: "JSON",
                contentType: "application/json",
                success: function(data){
                    $.ajax({
                        url: evey.getHome()+"/sale/reserve-sale-code",
                        type: "GET",
                        dataType: "JSON",
                        success:function(saleCode){
                            $("#saleCode").text(saleCode);
                            displayData(data.results);
                            confirmOrderFunc(data.results);
                            holderOrderFunc(data.results);
                            $(".payment-page").toggleClass("hide");
                            $(".order-page").toggleClass("hide");
                        }
                    });
                },
                error: function(data){
                    alert(JSON.stringify(data));
                }
            });

        }).on("click", ".back-to-order", function(){
            $(".payment-page").toggleClass("hide");
            $(".order-page").toggleClass("hide");
        });

        var countQty = function(){

            var totalCount = 0;
            $.each($(".cartBig .order-holder .row .quantity-price"),function(i,row){
                totalCount += parseInt($(row).attr("data-quantity"));
            });

            angular.element("body").scope().countOrdered(totalCount);
            angular.element("body").scope().$apply();
        };

        var confirmOrderFunc = function(data){
            $("#confirm-order").on("click", function(){
                data["saleCode"] = $("#saleCode").text();
                $.ajax({
                    url: evey.getHome()+"/sale/confirm",
                    type: "POST",
                    data: JSON.stringify(data),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function(data){

                        $(".order-holder").children().remove();
                        angular.element("body").scope().setOrderedCount();
                        angular.element("body").scope().$apply();

                        $(".payment-page").toggleClass("hide");
                        $(".order-page").toggleClass("hide");
                    }
                });
            });
        };

        var holderOrderFunc = function(data){
            $("#hold-oder").on("click", function () {
                console.log(data);
            });
        };

        var displayData = function(data){

            $("#receipt .items").remove();

            $.each(data.orders,function(i,order){
                var cartHolder = $("#receipt .cart-holder");
                $(cartHolder).append($("#payment-product-cart").html());
                var cartTemplate = $(cartHolder).find(".items").last();
                $(cartTemplate).find(".product-name").text(order.product.productName);
                $(cartTemplate).find(".quantity").text(order.quantity);

                if(order.listPrice !=null &&
                        order.listPrice != null &&
                        order.listPrice.price != null &&
                    order.listPrice.price != undefined) {
                    $(cartTemplate).find(".price").text(order.listPrice.price);
                } else {
                    $(cartTemplate).find(".price").text(0);
                }

                $(cartTemplate).find(".total").text(order.totalLinePrice);

                var priceSetHolder = $(cartTemplate).find(".price-set");
                $.each(order.appliedPriceSet, function(i, priceSet){
                    $(priceSetHolder).append($("#payment-price-set").html());
                    var priceSetTemplate = $(priceSetHolder).find(".set").last();
                    $(priceSetTemplate).find(".price-set-name").text(priceSet.priceSetName);

                    var moreOrLess = null;
                    if(priceSet.isDiscount!= null &&
                            priceSet.isDiscount!= undefined &&
                            priceSet.isDiscount){
                        moreOrLess = "LESS";
                    } else {
                        moreOrLess = "ADD";
                    }

                    var percentOrPhp = null;
                    if(priceSet.isPercentage!= null &&
                            priceSet.isPercentage!= undefined &&
                            priceSet.isPercentage){
                        percentOrPhp = "%";
                    } else {
                        percentOrPhp = "php"
                    }

                    $(priceSetTemplate).find(".effect").text(moreOrLess+" "+priceSet.priceSetModifier+percentOrPhp);
                    $(priceSetTemplate).find(".gross").text(order.grossLinePrice);
                });

                if(order.appliedPriceSet != null &&
                    order.appliedPriceSet != undefined &&
                    order.appliedPriceSet.length > 0){
                    var grossHolder = $(cartTemplate).find(".gross-line");
                    $(grossHolder).append($("#payment-gross").html());
                    var grossTemplate = $(grossHolder).find(".gross").last();
                    $(grossTemplate).find(".gross-total").text(order.grossLinePrice);
                }


                $(".total-sale").text("Grand Total: " + data.totalSale);
            });
        };


        var getCartDetail = function(){

            var cart = [];
            var orderHelper = [];
            $.each($(".cartBig .order-holder .added"),function(i,added){
                var productId = $(added).attr("data-id");
                var subtotal = $(added).attr("data-subtotal");
                var productName = $(added).find(".product-name").text();
                var sizeName = $(added).find(".size-name").text();
                var quantity = $(added).find(".quantity-price").attr("data-quantity");
                var price = $(added).find(".quantity-price").attr("data-price");
                var listId = $(added).find(".quantity-price").attr("data-list-id");
                var product = $(added).attr("data-product");
                console.log(product);

                var row = {
                    "product": productId,
                    "subtotal": subtotal,
                    "productName": productName,
                    "sizeName": sizeName,
                    "quantity": quantity,
                    "price": price,
                    "listId": listId
                };

                var helper = {
                    "productId": productId,
                    "quantity": quantity,
                    "price": price,
                    "listId": listId,
                    "product": $.parseJSON(product)
                };

                cart.push(row);
                orderHelper.push(helper);
            });

            var returnThis = {
                "cart": cart,
                "orderHelper": orderHelper
            };

            return returnThis;
        };

    </script>
</footer>
</html>
