<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="css/foundation.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/app.css"/>
    <link rel="stylesheet" href="css/font-awesome.css"/>
    <link rel="stylesheet" href="css/responsive-tables.css">

    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script src="js/responsive-tables.js"></script>
    <script src="js/evey-1.0.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/vendor/modernizr.js"></script>
    <script src="angular/orderApp.js"></script>
    <script src="angular/orderController.js"></script>

</head>
<body ng-app="orderApp" ng-controller="orderController">
<div class="row">
    <div>
        <div class="off-canvas-wrap sticky" data-offcanvas>
            <div class="inner-wrap">
                <nav class="tab-bar">
                    <section class="left-small">
                        <a class="left-off-canvas-toggle menu-icon"><span></span></a>
                    </section>
                    <section class="middle tab-bar-section">
                        <h1 class="title">Maestro Fedeli</h1>
                    </section>
                    <section class="right-small">
                        <a class="right-off-canvas-toggle menu-icon"><span></span></a>
                    </section>
                </nav>
                <aside class="right-off-canvas-menu">
                    <ul class="off-canvas-list">
                        <li><label>Logged In User</label></li>
                        <li><a href="/user/profile" class="canvas"><i class="fa fa-user"></i> &nbsp &nbsp User Profile</a></li>
                        <li><a href="/user/logout" class="canvas"><i class="fa fa-sign-out"></i> &nbsp &nbsp Logout</a></li>
                    </ul>
                </aside>
                <aside class="left-off-canvas-menu">
                    <ul class="off-canvas-list">
                        <li><label>Coffee Shop POS</label></li>
                        <li><a href="/dashboard" id="dashboard-off" class="canvas"><i class="fa fa-line-chart"></i> &nbsp &nbsp Dashboard</a></li>
                        <li><a href="/order" id="order-off" class="canvas"><i class="fa fa-shopping-cart"></i> &nbsp &nbsp Orders</a></li>
                        <li><a href="/inventory" id="inventory-off" class="canvas"><i class="fa fa-bar-chart"></i> &nbsp &nbsp Inventory</a></li>
                        <li><a href="/purchase" id="purchase-off" class="canvas"><i class="fa fa-money"></i> &nbsp &nbsp Purchase</a></li>
                        <li><a href="/report" id="report-off" class="canvas"><i class="fa fa-pie-chart"></i>&nbsp &nbsp Reports</a></li>
                        <li class="has-submenu"><a href="#"><i class="fa fa-cogs"></i> &nbsp &nbsp Administration</a>
                            <ul class="left-submenu">
                                <li class="back"><a href="#">Back</a></li>
                                <li><label>Administration Page</label></li>
                                <li class="has-submenu"><a href="#"><i class="fa fa-users"></i>&nbsp &nbsp Accounts</a>
                                    <ul class="left-submenu">
                                        <li class="back"><a href="#">Back</a></li>
                                        <li><label>Account Maintenance</label></li>
                                        <li><a href="/person" id="person-off" class="canvas">People Maintenance</a></li>
                                        <li><a href="/user" id="user-off" class="canvas">User Page</a></li>
                                        <li><a href="/customer" id="customer-off" class="canvas">Customer</a></li>
                                        <li><a href="/supplier" id="supplier-off" class="canvas">Supplier</a></li>
                                        <li><a href="/address" id="address-off" class="canvas">Address</a></li>
                                    </ul>
                                </li>
                                <li class="has-submenu"><a href="#"><i class="fa fa-cog"></i>&nbsp &nbsp System Settings</a>
                                    <ul class="left-submenu">
                                        <li class="back"><a href="#">Back</a></li>
                                        <li><label>System Maintenance</label></li>
                                        <li><a href="/item" id="item-off" class="canvas" data-mapping="/system/item">Item</a></li>
                                        <li><a href="/product" id="product-off" class="canvas" data-mapping="/system/product">Product</a></li>
                                        <li><a href="/meal" id="meal-off" class="canvas" data-mapping="/system/meal">Meal</a></li>
                                        <li><a href="/reference" id="reference-off" class="canvas" data-mapping="/reference">Reference</a></li>
                                        <li class="has-submenu"><a href="#">Pricing</a>
                                            <ul class="left-submenu">
                                                <li class="back"><a href="#">Back</a></li>
                                                <li><label>Price Maintenance</label></li>
                                                <li><a href="/price" class="canvas" data-mapping="/system/item">Price List</a></li>
                                                <li><a href="/priceSet" class="canvas" data-mapping="/system/product">Price Set</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </aside>
                <section class="main-section">
                    <div class="side-nav">
                        <div class="icon-bar vertical five-up icon-bar-100vh margin-top-side" ng-init="loadSideNav('/reference/getActiveReferenceLookUpByCategory/CATEGORY_PRODUCT_GROUP')">
                            <a class="item group" ng-repeat="group in sideNav" ng-class="{active:$first}" data-id="{{group.id}}">
                                <img src="img/hot51.png"/>
                                <label>{{group.value}}</label>
                            </a>
                        </div>
                    </div>
                    <div class="content">
                        <ul class="contentList small-block-grid-1 medium-block-grid-3 large-block-grid-3">
                            <li ng-repeat="product in productFound">
                                <div class="contentHolder" data-id="{{product.id}}">
                                    <img ng-if="product.productImageId == null" src="img/caffe_latte.jpg" alt="" class="contentImg"/>
                                    <img ng-if="product.productImageId != null && product.productImageId != ''" src="file/viewImage/{{product.productImageId}}" alt="" class="contentImg"/>
                                    <h5>{{product.productName}}</h5>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="cartBig show-for-large-up">
                        <h5 class="left">Order Summary</h5>
                        <h5 class="right">(0)</h5>
                        <div class="orderSummary">
                            <div class="items">
                                <div class="row">
                                    <div class="columns small-6">
                                        <h5>Items</h5>
                                    </div>
                                    <div class="columns small-4">
                                        <h5>Qty * Price</h5>
                                    </div>
                                    <div class="columns small-2">

                                    </div>
                                </div>
                                <div class="order-holder">
                                </div>
                            </div>
                            <div class="totalPrice">
                                <div class="row">
                                    <div class="small-6 columns">
                                        <div class="row">
                                            <div class="columns">
                                                Total
                                            </div>
                                        </div>
                                    </div>
                                    <div class="small-6 columns">
                                        <div class="row">
                                            <div class="columns">
                                                <span class="total-price"></span>php
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="index2.html" class="button expand">Continue</a>
                    </div>
                    <div id="cartSmall-container">
                        <div class="cartSmall-icon show-for-medium-down">
                            <i class="fa fa-shopping-cart fa-2x"></i>
                        </div>
                        <div class="cartSmall-content show-for-medium-down">
                            <h5 class="left">Order Summary</h5>
                            <h5 class="right">(0)</h5>
                            <div class="orderSummary">
                                <div class="items">
                                    <div class="row">
                                        <div class="columns small-6">
                                            <h5>Items</h5>
                                        </div>
                                        <div class="columns small-4">
                                            <h5>Qty * Price</h5>
                                        </div>
                                        <div class="columns small-2">

                                        </div>
                                    </div>
                                    <div class="order-holder">
                                    </div>
                                </div>
                                <div class="totalPrice">
                                    <div class="row">
                                        <div class="small-6 columns">
                                            <div class="row">
                                                <div class="columns">
                                                    Total
                                                </div>
                                            </div>
                                        </div>
                                        <div class="small-6 columns">
                                            <div class="row">
                                                <div class="columns">
                                                    <span class="total-price"></span>php
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="index2.html" class="button expand">Continue</a>
                        </div>
                    </div>
                </section>
                <a class="exit-off-canvas"></a>
            </div>
            <!--<div id="display-modal" data-alert class="alert-box success radius display-message hide">
                <span class="message"></span>
                <a href="#" class="close">&#215;</a>
            </div>-->
        </div>
    </div>
</div>
<div id="modifyOrder" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog" data-pid="{{selectedProduct.id}}" data-pname="{{selectedProduct.productName}}">
    <h2 id="modalTitle">{{selectedProduct.productName}}</h2>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    <div class="row">

        <div class="columns small-6">
            <div class="row">
                <div class="small-4 columns">
                    <p>Base</p>
                </div>
                <div class="small-8 columns">
                    <div class="right">
                        <p>Soy Whole Milk Non-fat</p>
                    </div>
                </div>
            </div>
            <div class="row  panel-flat">
                <div class="small-12 columns">
                    <div class="row">
                        <div class="small-6 columns">
                            <h4>Quantity</h4>
                        </div>
                        <div class="small-6 columns">
                            <h4><span id="modify-quantity">1</span></h4>
                        </div>
                    </div>
                    <div class="small-12 columns">
                        <div class="row">
                            <div class="center">
                                <ul class="button-group">
                                    <li><button class="button small max-width modify-quan-btn disabled dec" data-action="dec"><i class="fa fa-minus"></i></button></li>
                                    <li><button class="button small max-width modify-quan-btn" data-action="inc"><i class="fa fa-plus"></i></button></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row panel-flat sizes" ng-if="sizeSelection">
                <div class="small-12 columns">
                    <div class="row">
                        <div class="columns small-12">
                            <h4>Size</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="center">
                            <ul class="button-group toggle" data-toggle="buttons-radio">
                                <li ng-repeat="product in selectedProduct.productUnder">
                                    <input type="radio" id="{{product.id}}" name="size-group" data-price="{{product.price.price}}" data-toggle="button">
                                    <label class="button" for="{{product.id}}">{{product.size.value}}</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="columns small-12">
                    <h4 class="price" ng-if="sizeSelection"></h4>
                    <h4 class="price" ng-if="!sizeSelection" data-price="{{selectedProduct.price.price}}">{{selectedProduct.price.price}}php</h4>
                </div>
            </div>
        </div>
        <div class="columns small-6">
            <div class="row">
                <div class="small-12 columns">
                    <h4>Add-ons</h4>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <ul class="addOnList small-block-grid-2 medium-block-grid-3  large-block-grid-3">
                        <li ng-repeat="productAddOn in productAddOn">
                            <div class="addOn" data-id={{productAddOn.id}}>
                                <p>{{productAddOn.productName}}</p>
                                <div class="row">
                                    <div class="small-4 columns">
                                        <p><i class="fa fa-minus"></i></p>
                                    </div>
                                    <div class="small-4 columns">
                                        <p><i class="fa fa-plus"></i></p>
                                    </div>
                                    <div class="small-4 columns">
                                        <p>0</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="small-6 columns">
            <a href="#" class="button left">Reset Default</a>
        </div>
        <div class="small-6 columns">
            <a class="button right" id="add-to-cart">Add to Cart</a>
        </div>
    </div>
</div>
</body>
<footer>
    <script>
        $(document).foundation();
        $(document).EVEYfy();

        $(document).ready(function(){
            $(".cartSmall-icon").on("click",function(){
                $('.cartSmall-icon').css("right", "+70vw" );
                $('.cartSmall-content').css("right", "+1vw" );
            });
        }).on("click",".group", function(){
            $(".group").removeClass("active");
            $(this).addClass("active");

            angular.element("body").scope().changeGroup($(this).data("id"));
            angular.element("body").scope().$apply();

        }).on("click",".contentHolder", function(){
            angular.element("body").scope().selectProduct($(this).data("id"));
            angular.element("body").scope().$apply();

            $("#modifyOrder #modify-quantity").text("1");
            $('#modifyOrder').foundation('reveal', 'open');

        }).on("click",".modify-quan-btn",function(){
            if($(this).data("action")=="dec"){
                if(Number($("#modify-quantity").text())<=1){
                    $(this).attr("disabled");
                    $(this).addClass("disabled");
                } else {
                    $("#modify-quantity").text(Number($("#modify-quantity").text())-1);
                    if(Number($("#modify-quantity").text())<=1){
                        $(this).attr("disabled");
                        $(this).addClass("disabled");
                    }
                }

            } else if($(this).data("action") == "inc"){
                if(Number($("#modify-quantity").text())+1>1){
                    $(".modify-quan-btn.dec").removeAttr("disabled");
                    $(".modify-quan-btn.dec").removeClass("disabled");
                }
                $("#modify-quantity").text(Number($("#modify-quantity").text())+1);
            }
        }).on("click", "#add-to-cart", function(){
            var productId = null;
            var quantity = null;
            var price = null;
            var sizeName = null;


            var scope = angular.element("body").scope();
            if(scope.sizeSelection) {
                productId = $("#modifyOrder input[name=size-group]:checked").attr("id");
                sizeName = $("#modifyOrder input[name=size-group]:checked").parent().find("label").text();
            } else {
                productId = $("#modifyOrder").attr("data-pid");
                price = Number($('#modifyOrder .price').attr("data-price"));
            }

            var productName = $("#modifyOrder").attr("data-pname");
            var quantity = Number($("#modifyOrder #modify-quantity").text());;
            var price = Number($('#modifyOrder .price').attr("data-price"));;


            var template = $("#cart-template").html();
            $(".order-holder").prepend($(template));
            var addedTemplate = $(".order-holder").find("div.added:first-child");
            $(addedTemplate).attr("data-id", productId);
            $(addedTemplate).find(".product-name").text(productName);
            $(addedTemplate).find(".size-name").text(sizeName);
            $(addedTemplate).find(".quantity-price").text(quantity +" x "+price+"php");
            var subtotal = (Number(quantity)*price);
            $(addedTemplate).attr("data-subtotal", subtotal);
            $(addedTemplate).find(".subtotal").text(subtotal+"php");


            var totalPrice = Number($(".cartBig .total-price").text());
            totalPrice += subtotal;
            $(".total-price").text(totalPrice);
            $(".total-price").attr("data-total",totalPrice);

            $('#modifyOrder').foundation('reveal', 'close');

        }).on("click","#modifyOrder input[name=size-group]",function(){
            if($(this).is(":checked")){

                var price = $(this).attr("data-price");
                $("#modifyOrder .price").attr("data-price",Number(price));
                $("#modifyOrder .price").text(Number(price)+"php");
                $("#modifyOrder .price").removeClass("hide");
            }
        }).on("click", ".remove-cart", function(){
            var addedRow = $(this).parents(".added");
            var subtotal = Number($(addedRow).attr("data-subtotal"));

            var totalHolder = $(".totalPrice .total-price");
            var total = Number($(totalHolder).attr("data-total")) - subtotal;
            $(totalHolder).attr("data-total",total);
            $(totalHolder).text(total);

            $(addedRow).remove();
        });

    </script>

    <script type="text/html" id="cart-template">
        <div class="row added margin-bottom-half-rem">
            <div class="columns small-6">
                <div class="row">
                    <div class="columns product-name"></div>
                </div>
                <div class="row">
                    <div class="columns size-name"></div>
                </div>
            </div>
            <div class="columns small-4">
                <div class="row">
                    <div class="columns quantity-price"></div>
                </div>
                <div class="row">
                    <div class="columns subtotal"></div>
                </div>
            </div>
            <div class="columns small-2">
                <a><i class="fa fa-minus-circle remove-cart"></i></a>
            </div>
        </div>
    </script>

</footer>
</html>
