<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="css/foundation.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/app.css"/>
    <link rel="stylesheet" href="css/font-awesome.css"/>
    <link rel="stylesheet" href="css/responsive-tables.css">

    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script src="js/responsive-tables.js"></script>
    <script src="js/evey-1.0.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/selectize.min.js"></script>
    <script src="js/angular-selectize.js"></script>
    <script src="angular/crudApp.js"></script>
    <script src="angular/crudController.js"></script>
    <script src="js/vendor/modernizr.js"></script>

</head>
<body>
<div class="row">
    <div>
        <div class="off-canvas-wrap" data-offcanvas>
            <div class="inner-wrap">
                <nav class="tab-bar">
                    <section class="left-small">
                        <a class="left-off-canvas-toggle menu-icon"><span></span></a>
                    </section>
                    <section class="middle tab-bar-section">
                        <h1 class="title">Maestro Fedeli</h1>
                    </section>
                    <section class="right-small">
                        <a class="right-off-canvas-toggle menu-icon"><span></span></a>
                    </section>
                </nav>
                <aside class="right-off-canvas-menu">
                    <ul class="off-canvas-list">
                        <li><label>Logged In User</label></li>
                        <li><a href="#" class="canvas"><i class="fa fa-user"></i> &nbsp &nbsp User Profile</a></li>
                        <li><a href="#" class="canvas"><i class="fa fa-sign-out"></i> &nbsp &nbsp Logout</a></li>
                    </ul>
                </aside>
                <aside class="left-off-canvas-menu">
                    <ul class="off-canvas-list">
                        <li><label>Coffee Shop POS</label></li>
                        <li><a href="/dashboard" id="dashboard-off" class="canvas"><i class="fa fa-line-chart"></i> &nbsp &nbsp Dashboard</a></li>
                        <li><a href="/order" id="order-off" class="canvas"><i class="fa fa-shopping-cart"></i> &nbsp &nbsp Orders</a></li>
                        <li><a href="/inventory" id="inventory-off" class="canvas"><i class="fa fa-bar-chart"></i> &nbsp &nbsp Inventory</a></li>
                        <li><a href="/purchase" id="purchase-off" class="canvas"><i class="fa fa-money"></i> &nbsp &nbsp Purchase</a></li>
                        <li><a href="/report" id="report-off" class="canvas"><i class="fa fa-pie-chart"></i>&nbsp &nbsp Reports</a></li>
                        <li class="has-submenu"><a href="#"><i class="fa fa-cogs"></i> &nbsp &nbsp Administration</a>
                            <ul class="left-submenu">
                                <li class="back"><a href="#">Back</a></li>
                                <li><label>Administration Page</label></li>
                                <li class="has-submenu"><a href="#"><i class="fa fa-users"></i>&nbsp &nbsp Accounts</a>
                                    <ul class="left-submenu">
                                        <li class="back"><a href="#">Back</a></li>
                                        <li><label>Account Maintenance</label></li>
                                        <li><a href="/person" id="person-off" class="canvas">People Maintenance</a></li>
                                        <li><a href="/user" id="user-off" class="canvas">User Page</a></li>
                                        <li><a href="/customer" id="customer-off" class="canvas">Customer</a></li>
                                        <li><a href="/supplier" id="supplier-off" class="canvas">Supplier</a></li>
                                        <li><a href="/address" id="address-off" class="canvas">Address</a></li>
                                    </ul>
                                </li>
                                <li class="has-submenu"><a href="#"><i class="fa fa-cog"></i>&nbsp &nbsp System Settings</a>
                                    <ul class="left-submenu">
                                        <li class="back"><a href="#">Back</a></li>
                                        <li><label>System Maintenance</label></li>
                                        <li><a href="/item" id="item-off" class="canvas">Item</a></li>
                                        <li><a href="/product" id="product-off" class="canvas">Product</a></li>
                                        <li><a href="/productGroup" id="product-group-off" class="canvas">Product Group</a></li>
                                        <li><a href="/meal" id="meal-off" class="canvas">Meal</a></li>
                                        <li><a href="/reference" id="reference-off" class="canvas">Reference</a></li>
                                        <li class="has-submenu"><a href="#">Pricing</a>
                                            <ul class="left-submenu">
                                                <li class="back"><a href="#">Back</a></li>
                                                <li><label>Price Maintenance</label></li>
                                                <li><a href="/price" class="canvas">Price List</a></li>
                                                <li><a href="/priceSet" class="canvas">Price Set</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </aside>
                <section class="main-section main-body" ng-app="crudApp" ng-controller="crudController">
                    <div class="row main-section-row" id="crud-body">
                        <div class="row main-section-row">
                            <div class="small-12 text-align-center">
                                <h4>Purchase</h4>
                            </div>
                        </div>
                        <div class="small-4 large-3  columns search-panel" id="crud-search" >
                            <div class="row">
                                <div class="small-12 columns bar">
                                    <h4><i class="fa fa-search"></i>&nbsp Search</h4>
                                </div>
                            </div>
                            <div class="row">
                                <form>
                                    <div class="small-12 columns">
                                        <label>Item Name
                                            <input type="text" placeholder="Provide Item Name" name="itemName"/>
                                        </label>
                                        <label>Description
                                            <input type="text" placeholder="Provide Description" name="description"/>
                                        </label>
                                        <label>Unit of measurement
                                            <select name="uom.id" data-list="false">
                                                <option  ng-repeat="record in dropdown" value="{{record.id}}">{{record.value}}</option>
                                            </select>
                                        </label>
                                        <label>Condition
                                            <select name="" data-list="false">
                                                <option  ng-repeat="record in dropdown" value="{{record.id}}">{{record.value}}</option>
                                            </select>
                                        </label>
                                        <div class="rows">
                                            <a href="#" class="button expand" id="search-search-crud-btn" ng-click="test()">Search</a>
                                            <a href="#" class="button secondary expand" id="search-clr-crud-btn">Clear</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="small-8 large-9 columns crud-result">
                            <div class="rows">
                                <span> <small>Displaying {{startIndex}} to {{maxItem}} of {{listSize}} records.</small></span>
                            </div>
                            <div class="rows">
                                <div class="small-12 columns">
                                    <table class="responsive max-width" id="crud-table" data-url="/purchase/findAll">
                                        <thead>
                                            <tr>
                                                <th>Purchase Code</th>
                                                <th>Item Code</th>
                                                <th>Item Name</th>
                                                <th>Restock Amount</th>
                                                <th>Supplier</th>
                                                <th>Price</th>
                                                <th>Ordered By</th>
                                                <th>Status</th>
                                                <th style="width:10%"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="record in records">
                                                <td>{{record.purchaseCode}}</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>{{record.supplier}}</td>
                                                <td>{{record.totalExpense}}</td>
                                                <td></td>
                                                <td>{{record.status}}</td>
                                                <td>
                                                    <i class="fa fa-refresh has-tip tip-top radius edit-action" aria-haspopup="true" title="Update" data-reveal-id="update-modal"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="clearfix"/>
                            <div class="rows">
                                <div class="pagination-centered">
                                    <ul class="pagination" role="menubar" aria-label="Pagination">
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="update-modal" class="reveal-modal crud-modal" data-reveal aria-labelledby="update-title" aria-hidden="true" role="dialog">
                        <h3 id="update-title">Item Name: For Approval</h3>
                        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
                        <form data-abide="ajax" id="update-form">
                            <div class="row">
                                <div class="small-12 columns">
                                    <div class="row">
                                        <input type="hidden" value="{{recordFound.id}}" name="id">
                                    </div>
                                    <div class="row collapse prefix-radius">
                                        <label>Supplier Name <small>required</small>
                                            <input type="text" placeholder="Item Name" name="itemName" value="Puregold" required></label>
                                        <small class="error">Key is required.</small>
                                    </div>
                                    <div class="row collapse prefix-radius">
                                        <label>Current Stock</label>
                                        <div class="small-9 columns">
                                            <input type="text" placeholder="100" />
                                        </div>
                                        <div class="small-3 columns">
                                            <span class="postfix">g</span>
                                        </div>
                                    </div>
                                    <div class="row collapse prefix-radius">
                                        <label>Restock Amount</label>
                                        <div class="small-9 columns">
                                            <input type="text" placeholder="" />
                                        </div>
                                        <div class="small-3 columns">
                                            <span class="postfix">g</span>
                                        </div>
                                    </div>
                                    <div class="row collapse prefix-radius">
                                        <label>Price</label>
                                        <div class="small-9 columns">
                                            <input type="text" placeholder="" />
                                        </div>
                                        <div class="small-3 columns">
                                            <span class="postfix">PHP </span>
                                        </div>
                                    </div>
                                    <div class="rows">
                                        <button type="submit" class="button expand success" id="form-update-btn">Purchase</button>
                                    </div>
                                    <div class="rows">
                                        <button type="submit" class="button expand success" id="form-update-btn">Receive</button>
                                    </div>
                                    <div class="rows">
                                        <button type="submit" class="button expand success" id="form-update-btn">Cancel Transaction</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
                <a class="exit-off-canvas"></a>
            </div>
        </div>
    </div>
</div>
</body>
<footer>
    <script>
        $(document).foundation();
        $(document).EVEYfy();
    </script>
</footer>
</html>
